---
import Nav from '../components/Nav.astro';
import ImageCard from '../components/ImageCard.astro';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/public/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <title>NL4Opt - neurips-2023</title>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    </head>
    <body>
        <div class='nav-page-style'>
            <div class="nav-style">
            <Nav />
            </div>
            <main class="page-content" aria-label="Content">
                <div class="wrapper">
                    <ImageCard/>
                    <slot />
                </div>
            </main>
        </div>
        <style is:global>
			body {
				font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
					Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
				font-size: 15px;
				background-color: rgb(226 232 240);
				margin: 0;
				padding-top: 55px;
				color: rgb(15 23 42);
				overflow-y: scroll;
			}
            .nav-page-style {
                /* leave some space bettween the two */
                display: flex;
                flex-direction: column;
                min-height: 100vh;
                justify-content: flex-end;
            }
            .nav-style {
                background-color: white;
            }
            .page-content {
                padding: $spacing-unit 0;
                flex: 1 0 auto;
                display: flex;
                justify-content: flex-start;
                background-color: white;
                margin-top: 5rem;
                margin-bottom: 2rem;
                margin-left: 5rem;
                margin-right: 5rem;
                border-radius: 20px;
            }

            .wrapper {
                max-width: calc(100% - 2rem);
                margin-left: auto;
                padding-right: 3rem;
                padding-left: 3rem;
                clear: both;
                margin-top: 2rem;
                margin-bottom: 3rem;
            }

            /* Headings */
            h1, h2, h3, h4, h5, h6 {
                font-weight: bold;
                color: rgb(59, 119, 162);
                margin-bottom: 20px;
                margin-top: 40px;
            }

            /* Table */
            table {
                border-collapse: collapse;
                width: 100%;
                margin-bottom: 2rem;
            }

            th, td {
                border: 1px solid #ddd;
                padding: 8px;
                text-align: left;
            }

            th {
                background-color: #f2f2f2;
                font-weight: bold;
            }

            tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            tr:hover {
                background-color: #ddd;
            }

            .inline-code {
                background-color: #f8f8f8;
                padding: 2px 4px;
                border-radius: 3px;
                font-family: 'Courier New', Courier, monospace;
            }
            /* Media queries */
            @media screen and (max-width: 768px) {
                .page-content {
                    margin-left: 2rem;
                    margin-right: 2rem;
                }

                .wrapper {
                    padding-left: 2rem;
                    padding-right: 2rem;
                }
            }

            @media screen and (max-width: 480px) {
                .nav-page-style {
                    padding-bottom: 5rem;
                }

                .page-content {
                    margin-top: 3rem;
                    margin-bottom: 1rem;
                    margin-left: 1rem;
                    margin-right: 1rem;
                }

                .wrapper {
                    padding-left: 1rem;
                    padding-right: 1rem;
                }

                h1, h2, h3, h4, h5, h6 {
                    margin-bottom: 15px;
                    margin-top: 30px;
                }
            }

            a {
                color: rgb(33, 18, 247);
                text-decoration: underline;
            }

            a:hover {
                text-decoration: underline;
            }
        </style>
    </body>
</html>